<?xml version="1.0"?>
<config>
	<fieldset name="global" label="JGLOBAL_FIELDSET_OPTIONS">
		<field name="sef_advanced" type="hidden" default="1"/>
		<field name="posts_limit" type="integer"
			   label="COM_VESTNIK_PARAMS_POSTS_LIMIT"
			   first="1" last="100" step="1" default="12">
			<option value="0">JALL</option>
		</field>
	</fieldset>
	<fieldset name="permissions"
			  label="JCONFIG_PERMISSIONS_LABEL"
			  description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules"
			   label="JCONFIG_PERMISSIONS_LABEL"
			   class="inputbox"
			   validate="rules"
			   filter="rules"
			   component="com_vestnik"
			   section="component"/>
	</fieldset>
</config>
